<div class="d-flex align-items-center justify-content-center" >
<h1>
  Welcome to Tweeter
</h1>
</div>
<div class="d-flex justify-content-end">
<%= button_to "Connect Twitter", "/auth/twitter" , method: :post, class: "btn btn-primary" %>
</div>

